body{
    font-family: Verdana, Arial, sans-serif;
    background-color: cornsilk;
}

h1{
    font-style: italic;
    text-align: center;
}

h2{
    text-decoration: underline;
    text-align: center;
}

div{
    text-align: center;
    border: brown 2px solid;
    border-radius: 5px;
    margin: 5px;
    padding-bottom: 5px;
}

div h2{
    text-align: left;
    border-bottom:  brown 2px solid;
    padding: 5px;
}